{% extends 'base.html' %}
{% load static %}


{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block title %}
    django Blog
{% endblock %}

{% block content %}
    <header>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">djangoBlog</a>
                <a href="#" class="d-flex nav-link">All Posts</a>
            </div>
        </nav>
    </header>

    <section>
        <div class="container">
            <div class="row d_flex">
                <div class="col-md-6">
                    <div>
                        <h3>
                            Welcome<br> To djangoBlog
                        </h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner_img">
                        <img alt="" width="50%" src="{% static "blog/img/django-logo-positive.png" %}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="latest-posts">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="card  mb-3">
                        <!-- set a width on the image otherwise it will expand to full width       -->
                        <img class="card-img-top img-fluid" src="" alt="Card image cap" width="400">
                        <div class="card-body">
                            <h4 class="card-title">.card-title</h4>
                            <p class="card-text">.card-text</p>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-sm-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <section id="about">
        <div class="about-section">
            <h1>About Us</h1>
            <p>Some text about who we are and what we do.</p>
            <p>Resize the browser window to see that this page is responsive by the way.</p>
        </div>
    </section>
{% endblock %}