{% extends 'base.html' %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/posts.css" %}">
    <link rel="stylesheet" href="{% static "blog/includes/post.css" %}">
{% endblock %}
{% block title %} Posts {% endblock %}
{% block content %}
    <section id="all-posts">
        <h3>All Posts</h3>
        <div class="container">
            <div class="row">
                {% comment %} Renders a list of the latest posts {% endcomment %}
                {% for post in all_posts %}
                    {% include 'blog/includes/post.html' %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}