{% extends 'base.html' %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/single-post.css" %}">
{% endblock %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}
    
    {% comment %} Checking if Form Submit Failed {% endcomment %}
    {% if comment_form.errors %}
        <div class="error-box">
            <h6>Saving the Comment Failed</h6>
            <p>Please check the comments form below the post and fix your errors</p>
            <a href="#comment-form">Fix!</a>
        </div>
    {% endif %}

    <section id="summary">
        <h2>{{ post.title }}</h2>

        {# Tags #}
        <div>
            {% comment %} Renders a list of the tag {% endcomment %}
            {% for tag in post_tags %}
                <span class="tag">{{ tag.caption }}</span>
            {% endfor %}
        </div>

        <div id="favourite">
            <form action="{% url "add-favourite" %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ post.id }}" name="post_id">
                <button>
                    {% comment %} checking if post is favourite {% endcomment %}
                    {% if favourite %}
                        <span>&#9733;</span>
                    {% else %}
                        <span>&#9734;</span>
                    {% endif %}
                </button>
            </form>
        </div>

        <article>
            {% comment %} Post Detail {% endcomment %}
            <img src="{{ post.image.url }}" alt="">
            <address><a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a></address>
            <div>last update on
                <time>{{ post.date|date:"d M Y" }}</time>
            </div>
        </article>

    </section>

    <main> {{ post.content|linebreaks }} </main>

    {# Comment Form #}
    <section id="comment-form">
        <h2>Your Comment</h2>
        <form action="{% url "single-post-page" post.slug %}" method="POST">
            {% csrf_token %}
            {% comment %} Renders Form field {% endcomment %}
            {% for form_field in comment_form %}
                <div class="form-control {% if form_field.errors %}error{% endif %}">
                    {{ form_field.label_tag }}
                    {{ form_field }}
                    {{ form_field.errors }}
                </div>
            {% endfor %}
            <button type="submit">Save Comment</button>
        </form>
    </section>

    <section id="comments">
        <ul>
            {% comment %} Renders a list of the comment {% endcomment %}
            {% for comment in comments %}
                <li>
                    <h3>{{ comment.user_name }}</h3>
                    <p>{{ comment.text|linebreaks }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}